/*  ============= GLOBAL STYLES ================  */

@import url(https://fonts.googleapis.com/css?family=Indie+Flower|Gloria+Hallelujah|Shadows+Into+Light+Two);
/*font-family: 'Indie Flower', cursive;*/
/*font-family: 'Gloria Hallelujah', cursive;*/
/*font-family: 'Shadows Into Light Two', cursive;*/

html, body {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
} 

body {
    background-color:#a6a6a6;
    font-family: 'Source Sans Pro', Trebuchet MS, sans-serif;
    font-size:16px;
}

h1, h2, h3 {
    margin:0px;
    padding:0px;
    color:#660033; /* purple */
}

p {
    margin:15px 0px;
}

b, strong {
    color:#660033; /* purple */
}

a {
    color:#660033;
    text-decoration:none;
}

a:hover {
    color:#00994d; /* green */
}

.mainWidth{
    width:12px;
}

/* ========== HEADER STYLES =========== */


